# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
xcuserdata/
DerivedData/

# macOS
.DS_Store

# Playgrounds
timeline.xctimeline
playground.xcworkspace

docs/*